<div *ngIf="post$ | async as post">
  <i *ngIf="post.loading" class="fa fa-spin fa-refresh"></i>
  <h2>{{ post.title }}</h2>
  <h4>Votes: {{ post.likes }}</h4>
  <button (click)="vote(post, 1)">Upvote</button>
  <button (click)="vote(post, -1)">Downvote</button>
</div>
<button (click)="getPost()">Load Post from Firebase</button>