<div *ngIf="post$ | async as p">
  <h2>{{ p.post.postMessage }}</h2>
  <h4>Votes: {{ p.post.likes }}</h4>
  <button (click)="upvote()">Upvote</button>
  <button (click)="downvote()">Downvote</button>
  <button (click)="resetPost()">Reset</button>
  <input [(ngModel)]="text">
  <button (click)="editText()" >Change Title</button>
</div>