<div *ngIf="student$ | async as students">    
    <ul>
        <li *ngFor="let student of students.studentList">
            <span>{{student.id}}</span>
            <span>{{student.name}}</span>
        </li>
    </ul>
</div>