<!-- <p>{{message$ | async }}</p>

<button (click) = "HindiMessage()">Hindi</button>
<button (click) = "EnglishMessage()">English</button> -->

<!-- <div *ngIf="post | async as p">
    <h2>{{ p.text }}</h2>
    <h4>Votes: {{ p.likes }}</h4>
    <button (click)="upvote()">Upvote</button>
    <button (click)="downvote()">Downvote</button>
    <button (click)="resetPost()">Reset</button>
    <input [(ngModel)]="text">
    <button (click)="editText()" >Change Title</button>
  </div> -->


  <div *ngIf ="post$ | async as p">
    <h2>{{p.text}}</h2>
    <h3>{{p.likes}}</h3>

    <button (click) = "upvote()">Upvote</button>
    <button (click) = "downvote()">Downvote</button>
    <button (click) = "resetPost()">Reset</button>

    <input [(ngModel)] = "text">
    <button (click) = "editText()">Change Title</button>
</div>